h1 {
  color: teal;
  text-align: center;
}
img {
  float: right;
}
.list {
  line-height: 40px;
}
.about {
  color: red;
}
.intro {
  font-style: italic;
}
#abt {
  font-weight: bold;
}
#abt1 {
  font-size: 12px;
}
.imp {
  background-color: lightblue;
}

