h1,
h3,
h4 {
    color: rgb(36, 60, 77);
    text-align: center;
}

.round {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.list {
    line-height: 40px;
}

body {
    background-color: rgb(180, 172, 152);
}

.project {
    margin: 10px;
}

ul {
    list-style: none;
}

.navbar {
    background-color: burlywood;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar a {
    text-decoration: none;
}

.navbar li {
    list-style-type: none;
    display: inline;
}